/*------------------------------------*\
    $TABLE-OF-CONTENTS
\*------------------------------------*/

/**
 * TABLE-OF-CONTENTS............You’re reading it!
 * SITE-WIDE...............Site wide declarations (html, body, box layout model)
 * TYPOGRAPHY...........Sets sizes and styles for type elements (h1-h3, p, a, blockquote etc.)
 * WRAPPERS...........Biggie & Tupac set percentage widths for page, and posts.
 * ELEMENTS...........Universal elements (island, hr, figure, image, button)
 * NAV...........The navigation menu and the footer
 * MEDIA-QUERIES...........Media-queries, mostly resizing font-sizes
 */

/*------------------------------------*\
    $SITE-WIDE
\*------------------------------------*/

html {
    font-size: 62.5%;
    height: 100%;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #36362C;
    background-color: #f1f1f1;
    height: 100%;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Alegreya', Georgia, 'Times New Roman', Times, serif;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Modular Scale ---------------------- 19px @ 1:1.333 ----------------------*/

h1 {
    font: normal 700 5.9989rem/1.333'Alegreya Sans' sans-serif;
    text-align: center;
}
h2 {
    font: normal 300 3.3761rem/1.333'Alegreya Sans' sans-serif;
}
h3 {
    font: normal 700 2.5327rem/1.333'Alegreya Sans' sans-serif;
}
p {
    font: normal 400 1.9rem/1.333'Alegreya' serif;
    margin-bottom: 2.666rem;
}
a {
    font: normal 400 1.9rem/1.333'Alegreya Sans SC' sans-serif;
    color: #36362C;
    text-decoration: none;
    border-bottom: 1px solid #36362C;
    cursor: pointer;
}
a:hover, a:focus, a:active {
    color: #757560;
}
b {
    font-weight: 700;
}
.small-caps {
    font-family: 'Alegreya Sans SC', sans-serif;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    font: normal 300 2.332rem/1.333'Alegreya Sans' san-serif;
}
.title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 7%;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 0.3rem solid white;
}
video {
    display: block;
}
video.bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(..img/fallback.jpg) no-repeat;
    background-size: cover;
}
.big {
    width: 66.666%;
    max-width: 750px;
    color: #f1f1f1;
    margin: 0 auto;
}
.logo {
    width: 400px;
    height: auto;
    margin: 50px auto 10px auto;
    text-align: center;
}
.big h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    padding-bottom: 2px;
    text-align: center;
    color: #f1f1f1;
    font-size: 5.9rem;
    text-shadow: 1px 1px 1px #000;
}
.big p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    color: #f1f1f1;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.444;
}
section {
    height: 100%;
}
.section-last {
    display: block;
    width: 100%;
    height: 250px;
    position:relative;
}
.section-last h1, .section-last a {
    display:block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.section-last a {
    width:200px;
    margin:10px auto;
}
.section-store {
    display: block;
    width: 100%;
    position:relative;
    height:100px;
    margin:0;

}
footer.section-last {
    color: #f1f1f1;
    height: 150px;
}
footer a {
    margin: 10px;
}
.darken {
    background: rgba(0, 0, 0, .420);
}
.midgray {
    background-color: #b7b7a7;
}
.lightgray {
    background-color: #d8d8d8;
}
.white {
    background-color: #f1f1f1;
}
.gray {
    background-color: #757560;
}
.black {
    background-color: #36362C;
}
.content {
    padding: 4.20%;
    padding-top: 7%;
}
.faq {
    padding: 4.20;
}
.content h2 {
    font: normal 300 5rem/1.333'Alegreya Sans' sans-serif;
}
.content p {
    color: #757560;
    font: normal 300 2.332rem/1.333'Alegreya Sans' san-serif;
}
.content p span {
    font-family: 'Alegreya Sans SC', sans-serif;
}
.centered {
    text-align: center;
}
.image-introduction {
    background: url('../img/wood1.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}
.image-product .title {
    color: #36362C;
    border-color: #36362C;
}
.example-product {
    margin-left: 20%;
    margin-top: 35%;
    width: 300px;
}
.face {
    margin-left: 20%;
    width: 300px;
    margin-top: 25%;
}
.image-story {
    background: url('../img/wood2.jpg') no-repeat center center;
    background-size: cover;
    ;
}
.store-link {
    outline: none;
    border-bottom: none;
}
.button {
    background-color: #5d917d;
    padding: 1rem 3rem;
    border-radius: 2px;
    color: #f1f1f1;
}
.button:hover, .button:focus, .button:active {
    background-color: #538170;
    color: #f1f1f1;
    padding: 1.5rem 3.5rem;
    transition: all 0.5s ease;
}
@media (max-width: 1150px) {
    .big {
        width: 85%;
        color: #f1f1f1;
        margin: 0 auto;
    }
}
@media (max-width: 911px) {
    .big h1 {
        font-size: 161.83%;
    }
    h1 {
        margin: 0;
    }
    footer h3 {
        padding-top: 10px;
        margin: 0;
        margin-bottom: 30px;
    }
    .section-last {
        height: 200px;
    }
    .face {
        display: none;
    }
    .big p {
        font-size: 161.83%;
    }
    .col-2-3, .col-1-3, .col-1-1 {
        width: 100%;
        float: none;
    }
    .col-1-3.white.image-product {
        display: none;
    }
    section:not(:first-of-type) {
        height: auto;
        width: 100%;
    }
    .content {
        padding-top: 0;
    }
    @media (max-width: 611px) {
        .logo {
            width: 300px;
        }
        section {
            height: 130%;
        }
        h1 {
            line-height: 1;
            margin: 0;
            font-size: 3.6rem;
        }
    }
    @media (max-width: 460px) {
        h1 {
            font-size: 2.8rem;
        }
        .big p {
            font-size: 2.2rem;
        }
        section {
            height: 150%;
        }
    }
    @media (max-width: 350px) {
        .logo {
            width: 200px;
        }
        .big p {
            font-size: 1.9rem;
        }
    }
